[flake8]
max-line-length = 120

ignore = 
    # unable to detect undefined names, may be encountered when using rAPIs in scripts
    F403,
    # undefined name <name>, will be caused by the existence of ctx in the scripts
    F821
