type: ACTION
action-type: CHANGECONTROL_CUSTOM
language: PYTHON_3
name: Restore Shut Unestablished BGP Peers
description: Restores any BGP Peers shut by the Shut Unestablished BGP Peers action
file: script.py
static-params: []
dynamic-params:
  - name: DeviceID
    description: The ID of the device to run this script against
    required: true
    hidden: false
