type: ACTION
action-type: CHANGECONTROL_CUSTOM
language: PYTHON_3
name: Custom Check MLAG Health
description: Checks that a device's MLAG ports come up in a timely manner
file: script.py
static-params: []
dynamic-params:
  - name: DeviceID
    description: The ID of the device to run this script against
    required: true
    hidden: false
  - name: checkDuration
    description: Maximum time to monitor mlag health for in seconds. May be slightly longer due to command execution and round trip time
    required: true
    hidden: false
    default: "1000"
